@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-quicksand);
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
}

.switch {
  --false: #e81b1b;
  --true: #009068;
}

input[type="checkbox"] {
  appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: #fff;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  height: 1.9em;
  width: 1.9em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em / 2 + 0.3em);
  background-color: var(--false);
  border-radius: 0.2em;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em / 2 + 0.3em));
}
